@import url("https://fontlay.com/css2?family=Inter&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Inter", sans-serif;
}

* {
  --color-transition-duration: 150ms;
  transition: background-color var(--color-transition-duration) ease-out,
              color var(--color-transition-duration) ease-out,
              stroke var(--color-transition-duration) ease-out,
              fill var(--color-transition-duration) ease-out,
              transform 300ms ease-out,
              padding 300ms ease-out !important;
}

textarea::placeholder {
  @apply text-[#6D6D6D];
}

.theme-switcher-button > svg {
  @apply fill-none stroke-[#333333] dark:stroke-[#F5F5F5] w-5 pointer-events-none;
}

.theme-switcher-button:hover > svg, .theme-switcher-button[aria-checked="true"] > svg {
  @apply !stroke-[#FF7A1F];
}

h1, h2, h3, h4, h5, h6 {
  font-size: revert;
  font-weight: revert;
}

ul {
  @apply list-disc;
}

ol {
  @apply list-decimal;
}

ul, ol {
  @apply pl-8;
}

pre {
  @apply px-3 py-2 overflow-x-auto lg:px-3.5 lg:py-3;
}

code {
  font-family: monospace;
}

code.inline {
  @apply px-1.5 py-1;
}

pre, code.inline {
  @apply bg-[#EFEFEF] dark:bg-[#404040] rounded-lg;
}
